<div class="new-post-container">
  <form [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
    <mat-form-field>
      <mat-label>Titulo Publicacion</mat-label>
      <input matInput placeholder="Titulo Publicacion" formControlName="titlePost">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Info</mat-label>
      <input matInput placeholder="Info" formControlName="contentPost">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Clase producto" multiple formControlName="tagsPost">
        <mat-option value="Procesador">Procesador</mat-option>
        <mat-option value="Mother">Mother</mat-option>
        <mat-option value="Ram">Ram</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="container-input-file">
      <label class="custom-file">
        <input type="file" formControlName="imagePost" (change)="handleImage($event)" />
        <mat-icon>cloud_upload</mat-icon><span>Selecciona Imagen</span>
      </label>
    </div>
    <div class="container-button">
      <input type="submit" class="mat-flat-button" value="Guardar" [mat-dialog-close]="true">
    </div>
  </form>
</div>
